html{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0 ;
    padding: 0 ;
    width: 100%;
}


.header{
    margin: 0;
    padding: 0;
    background-color: black;

    margin: 0;
    height: 70px;
    width: 100%;
}

.navigation{
    margin: 0;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}

.search{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background: url("images/Download\ wallpaper\ 1920x1080\ road\,\ marking\,\ line\,\ yellow\,\ mountains\,\ fog\,\ asphalt\ full\ hd\,\ hdtv\,\ fhd\,\ 1080p\ hd\ background.jpeg") center no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.search__component{
    margin: 0;
    padding: 0;
    width: 80%;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search_conteiner{
    width: 20%;
    height: 100%;
}

.search__to{
    width: 20%;
    height: 29px;
    border-left: none;
    border-right: none;

}

.date__search{
    width: 20%;
    height: 30px;
    border-left: none;
    border-right: none;
}

.search_from{
    width: 20%;
    height: 29px;
    border-right: none;
    border-top-left-radius: 10px;
    border-end-start-radius: 10px;
}

.swap__search{
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-left: none;
    border-right: none;
    background-color: white;
}

.passangere__search{
    width: 15%;
    height: 35px;
    border-left: none;
    border-right: none;
    border-width: 2px;
}

.icon-excel {
width: 25px;
height: 25px;
}

.button__search{
    width: 10%;
    height: 35px;
    border-left: none;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
}